.landing-contact {
    display: flex;
    height: 22vh;
    width: 100%;
    /* background: linear-gradient(180deg, transparent, rgba(5, 5, 5, 0.95) 93%), url('../assets/images/2025-Hennessey.jpg'); */
    background-size: cover;
    background-position: center;
    align-items: end;
}

.a-head {
    color: white;
    font-family: 'Roboto', serif;
}

.company {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    background: black;
    color: white;
    animation: scroll-transition;
    animation-timeline: scroll(y);
    z-index: 5;
}

.company .login {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 17px;
    width: 90px;
    justify-content: center;
    padding: 6px 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}

.company .login:hover {
    background-color: rgb(255, 251, 18);
    box-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
    color: black;
    border: none;
    transform: scale(1.02);
}

.logging {
    display: flex;
    justify-content: end;
}

.title {
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: start;
    text-align: center;
    font-size: 20px;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar {
    display: flex;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    flex-direction: row;
    gap: 20px;
    height: 60px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    border-top-color: rgb(122, 121, 121);
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(122, 121, 121);
    border-bottom-width: 1px;
    animation: scroll-transition;
    animation-timeline: scroll(y);
    z-index: 5;
}

@keyframes scroll-transition {
    0% {
        background-color: black;
    }
    1.5% {
        background-color: #121212;
        border-bottom: none;
    }
    100% {
        background-color: #121212;
        border-bottom: none;
    }
}

.navbar li {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: text-shadow 0.3s, color 0.2s;
}

.navbar li:hover {
    color: rgb(255, 251, 18);
    text-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
}

/** --------------------------------------------------------------------------- */

.car {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.contain-cars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    height: 500px;
    gap: 20px;
}

.big-img {
    width: 100%;
    height: 500px;
    transition: transform 0.3s;
    cursor: pointer;
}

.big-img:hover {
    transform: scale(1.03);
}

.big-photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.432);
}

.small-img {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.photo {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    cursor: pointer;
    overflow: hidden;
}

.photo:hover {
    transform: scale(1.03);
}

.lambo-small {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.432);
    object-fit: cover;
}

/** ------------------------------------------------------------------------------------ */

.car-specs {
    display: flex;
    justify-content: center;
    height: 70vh;
}

.contain-specs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
}

.car-titles {
    display: flex;
    justify-content: start;
    width: 100%;
}

.car-titles h2 {
    font-size: 35px;
    font-family: 'Italiana', serif;
    margin-bottom: 10px;
}

.car-titles p {
    font-size: 18px;
    font-family: 'Roboto', serif;
    color: #303030;
}

.car-price {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    width: 100%;
}

.car-price h2 {
    font-family: "Prata", serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}



/* 
.full-specs {
    width: 100%;
}

.space-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
    width: 1300px;
}

.spec-1 .p-1 {
    color: rgb(85, 84, 84);
    font-size: 18px;
}

.spec-1 p {
    font-size: 21px;
} */




