* {
    font-family: "Josefin Sans", "Italiana", "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
}

.landing {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    overflow: hidden; 
}

.GearMBK {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio, cover container */
    z-index: -1; /* Send the video to the back */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Apply the dark overlay */
    z-index: 0; /* Layer above video, below content */
}

.company {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    align-items: center;
    background: transparent;
    color: white;
    animation: scroll-transition;
    animation-timeline: scroll(y);
    z-index: 5;
}

.company .login {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 17px;
    width: 90px;
    justify-content: center;
    padding: 6px 18px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    cursor: pointer;
}

.company .login:hover {
    background-color: rgb(255, 251, 18);
    box-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
    color: black;
    border: none;
    transform: scale(1.02);
}

.logging {
    display: flex;
    justify-content: end;
}

.title {
    display: flex;
    height: 35px;
    width: 100%;
    justify-content: start;
    text-align: center;
    font-size: 20px;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar {
    display: flex;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    flex-direction: row;
    gap: 20px;
    height: 60px;
    background: transparent;
    color: white;
    justify-content: center;
    align-items: center;
    border-top-style: solid;
    border-top-color: rgb(122, 121, 121);
    border-top-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: rgb(122, 121, 121);
    border-bottom-width: 1px;
    animation: scroll-transition;
    animation-timeline: scroll(y);
    z-index: 5;
}

@keyframes scroll-transition {
    0% {
        background-color: transparent;
    }
    1.5% {
        background-color: #121212;
        border-bottom: none;
    }
    100% {
        background-color: #121212;
        border-bottom: none;
    }
}

.navbar li {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: text-shadow 0.3s, color 0.2s;
}

.navbar li:hover {
    color: rgb(255, 251, 18);
    text-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
}

.navbar li a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: text-shadow 0.3s, color 0.2s;
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
    color: rgb(255, 251, 18);
    text-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
}

.intro-text {
    font-family: "Italiana", sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    bottom: 80px;
    left: 50px;
    font-size: 31px;
}

.intro-text h1 {
    font-family: "Italiana", sans-serif;
    color: white;
}

.intro-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    border-right: solid 5px white;
    animation: typewriter 2.8s steps(28), blink 800ms steps(28) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: transparent; /** change to white */
    }

    to {
        border-color: transparent;
    }
}

.arrow-down {
    display: inline-block;
    color: white;
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: 20px;
    left: 0;
    right: 0;
    cursor: pointer;
}

.arrow-down i {
    font-size: 30px;
}

.arrow-down a {
    text-decoration: none;
    color: white
}

.arrow-down i:hover {
    color: rgb(255, 251, 18);
    text-shadow: 0 0 20px rgba(255, 251, 18, 0.877);
}

/** -------------------------------------------------------------------------------------------------------*/

.about-us {
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
    height: fit-content;
}

.about-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 120px;
}

.about-heading h1 {
    font-size: 3.9rem;
    font-family: "Poppins", sans-serif;
}

.about-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.about-text p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.box-text {
    color: black;
    display: flex;
    justify-content: center;
    width: 850px;
    padding-bottom: 50px;
}

.about-bk {
    height: 36vh;
    width: 100%;
}

.about-bk img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.porshe_v {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    z-index: -1;
}

/* 
.about-heading h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.about-heading h1:nth-child(2) {
    color: rgb(207, 207, 24);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 49%, 12% 49%, 26% 56%, 40% 61%, 53% 65%, 68% 64%, 83% 59%, 95% 56%, 
        100% 55%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 55%, 14% 58%, 27% 60%, 44% 55%, 57% 52%, 70% 54%, 83% 56%, 94% 53%, 
        100% 44%, 100% 100%, 0% 100%);
    }
} */

/** -----------------------------------FEATURED------------------------------------------------------*/

.featured {
    display: flex;
    background-color: white;
    justify-content: center;
    height: 100vh;
    color: #121212;
    margin-top: 120px;
    width: 100%;
    margin-bottom: 150px;
}

.featured-space {
    width: 90%;
    margin-top: 70px;
}

.featured-space h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 50px;
}

.featured-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.box-car {
    border: #b3b2b2 solid 1px;
    padding-bottom: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.box-car:hover {
    transform: scale(1.02);
}

.img-box {
    width: 100%;
    height: 72%;
}

.car {
    width: 100%;
    height: 100%;
}

.desc-box {
    line-height: 24px;
    padding-left: 20px;
}

.desc-box h2 {
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 3px;
}

.desc-box .car-name {
    font-family: 'Roboto', serif;
    font-size: 17px;
    font-weight: 400;
}

.desc-box .car-location {
    font-family: 'Roboto', serif;
    font-size: 15px;
    font-weight: 300;
}

/** -----------------------------------SERVICES------------------------------------------------------ */

.services {
    padding-top: 210px;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.space {
    height: 60vh;
    width: 80%;
    color: #121212;
}

.grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.ser-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    margin-bottom: 40px;
}

.newCar-text .ser-text p {
    font-size: 17px;
    font-weight: 300;
    font-family: 'Roboto', serif;
    color: black;
}

.new-car {
    display: grid;
    grid-template-rows: 60px 1fr;
    cursor: pointer;
    border-radius: 20px;
}

.new-car:hover {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.02);
    padding-right: 10px;
}

.pre-owned {
    display: grid;
    grid-template-rows: 60px 1fr;
    cursor: pointer;
    border-radius: 20px;
}

.pre-owned:hover {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.01);
    padding-right: 10px;
}

.custom {
    display: grid;
    grid-template-rows: 60px 1fr;
    cursor: pointer;
    border-radius: 20px;
}

.custom:hover {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.02);
    padding-right: 10px;
}

.service-div {
    display: grid;
    grid-template-rows: 60px 1fr;
    cursor: pointer;
    border-radius: 20px;
}

.service-div:hover {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    transform: scale(1.02);
    padding-right: 10px;
}

.head-div {
    display: grid;
    grid-template-columns: 65px 1fr;
    width: 100%;
}

.ser-head {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 35px;
    color: #202020;
}

.ser-head h2 {
    font-family: 'Roboto', sans-serif;
}

.text-div {
    display: grid;
    grid-template-columns: 51px 1fr;
    margin-top: 15px;
}

.ser-text {
    color: #202020;
}

.ser-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
}

.New-Symbol {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 10px;
}

.New-Symbol i {
    font-size: 40px;
}

/** -------------------------------------------------NEWSLETTER----------------------------------------------*/

.newsletter {
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 100%;
}

.news-space {
    height: 100%;
    width: 90%;
    align-items: center;
}

.news-space hr {
    border-color: rgb(250, 249, 249);
    border-width: 1px;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.subscribe {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.subscribe h2 {
    font-family: 'Italiana', serif;
    font-size: 42px;
    margin-bottom: 30px;
}

.subscribe p {
    font-family: 'Roboto', serif;
    font-size: 20px;
    font-weight: 300;
}

.email-sub {
    display: flex;
    justify-content: center;
    height: 50%;
    align-items: center;
}

.email-space {
    height: 40%;
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.email-sub .email {
    font-family: 'Roboto', serif;
    width: 100%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 15px;
    border: 1px solid #d1d0d0;
}

.email-sub .email::placeholder {
    padding-left: 10px;
}

.email-sub .sub-button {
    font-family: 'Roboto', serif;
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    background-color: #121212;
    color: white;
    cursor: pointer;
}

.email-sub .sub-button:hover {
    background-color: #121212;
    transform: scale(1.02);
    color: rgb(255, 251, 18);
    font-size: 18px;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 75vh;
    width: 100%;
    color: white;
}

.nav-footer {
    width: 90%;
}

.nav-divider {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    width: 100%;
    border-bottom: solid rgb(87, 87, 87) 1px;
}

.nav-divider ul h3 {
    margin-bottom: 40px;
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(255, 251, 18);
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
}

.nav-divider ul li {
    font-family: 'Roboto', serif;
    list-style: none;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.nav-divider ul li:hover {
    color: rgb(255, 251, 18);
    transform: scale(1.03);
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
}

.contact-foot {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: solid rgb(87, 87, 87) 1px;
}

.address p {
    display: inline-block;
    font-family: 'Roboto', serif;
    font-weight: 300;
    cursor: pointer;
    transition: text-shadow 0.3s;
    color: white;
}

.address p:hover {
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
    color: rgb(255, 251, 18);
}

.address a {
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto', serif;
    font-weight: 300;
    cursor: pointer;
    transition: text-shadow 0.3s;
    color: white;
}

.address a:hover {
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
    color: rgb(255, 251, 18);
}

.address i {
    margin-right: 7px;
    color: rgb(255, 251, 18);
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
}

.social-media {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-right: 50px;
}

.social-media i {
    color: white;
    font-size: 23px;
    cursor: pointer;
    margin-bottom: 30px;
}

.social-media i:hover {
    color: rgb(255, 251, 18);
    text-shadow: 0 0 10px rgba(255, 251, 18, 0.877);
}

.my-tag {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.my-tag p {
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size: 13px;
}

@media (min-aspect-ratio:16/9) {
    .GearMBK {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .GearMBK {
        width: auto;
        height: 100%;
    }
}

/* 
.services .ser-heading {
    position: absolute;
    font-size: 38px;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 251, 18);
    text-shadow: 0 0 8px rgba(255, 251, 18, 0.877);
}

.ser-heading h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.ser-heading h1:nth-child(2) {
    color: rgb(207, 207, 24);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 49%, 12% 49%, 26% 56%, 40% 61%, 53% 65%, 68% 64%, 83% 59%, 95% 56%, 
        100% 55%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 55%, 14% 58%, 27% 60%, 44% 55%, 57% 52%, 70% 54%, 83% 56%, 94% 53%, 
        100% 44%, 100% 100%, 0% 100%);
    }
} */